<% html_title("#{@page.lesson.name}: #{@page.title}") %>
<h2><%= h @page.title %></h2>
<div id="lesson_page_content">
  <%= safe_textile(@page.content).html_safe %>
</div>
<%= page_controls_for_page(@page).html_safe %>
<p><%= link_to 'Edit This Page', edit_lesson_page_path(@lesson, @page) %></p>
<p><%= link_to 'Add another page to this lesson', new_lesson_page_path(@lesson) %></p>
<p><%= link_to 'Back to Lesson', lesson_path(@lesson) %></p>
