<h2>Add your organization!</h2>

<div id="getting_started">
  <p>
    <span class="welcome">
      Sageify is a web application dedicated to providing you a bulletin board on which to post training material for your organization.
    </span>
  </p>

</div>


<p>
  To get started, just out the form below and you'll be ready to start transferring knowledge and storing your business practices!
</p>
<% if @organization.errors.any? %>
  <ul>
    <% @organization.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_tag organization_path do %>
  <fieldset>
    <%= fields_for @organization do |f| %>
      <p><%= f.label       :name, "Organization Name" %><%= f.text_field  :name %></p>
    <% end -%>
    <%= fields_for @user do |f| %>
      <p><%= f.label       :first_name, "Your First Name" %><%= f.text_field  :first_name %></p>
      <p><%= f.label       :last_name, "Your Last Name" %><%= f.text_field  :last_name %></p>
      <p><%= f.label       :email, "Email" %><%= f.text_field  :email %></p>
      <p><%= f.label       :password, "Password" %><%= f.password_field :password %></p>
      <p><%= f.label       :password_confirmation, "Password Confirmation" %><%= f.password_field :password_confirmation %></p>
    <% end -%>
    <p><%= submit_tag "Submit", :disable_with => 'Submiting...' %></p>
  </fieldset>
<% end -%>





<a href="/home"><img src="images/tree-home.png" align="right" height="432"></a>
    <p>&nbsp;</p>
    <h2>Teach - Learn - Test</h2>
    <p>Sageify is a web application dedicated to providing you a cloud on which to post training material for your organization.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2>Use Sageify to:</h2>
    <ul>
    <li>* Show a new hire how to fill out a timesheet</li>
    <li>* Quiz volunteers on proper methods of accepting donations</li>
    <li>* Explain your organization's core mission to new recruits</li>
    <li>* Share policy, procedure, and training concepts</li>
    </ul>

