<% html_title(@exam.name) %>
<h1>Exam: <%= @exam.name %></h1>

<%= "<h3>There are no questions for this exam</h3>" if @exam.questions.empty? %>
<ul class="questions">
  <%= render :partial => "question", :collection => @exam.questions %>
  <li><%= link_to 'Add a question', new_exam_question_path(@exam) %></li>
</ul>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>